.App {
  margin: 0 auto;
  width: 980px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  background-color: #282C34;
}

.header {
  display: flex;
  flex: 1;
  align-items: center;
  margin-bottom: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.places {
  display: flex;
  width: 100%;
  flex: 0.5;
  justify-content: space-evenly;
  align-items: center;
}

.place {
  height: 50px;
  width: 50px;
  padding: 15px;
  background-color: #BCCFF5;
  border-radius: 100%;
}

.place img {
  max-width: 100%;
  max-height: 100%;
}

.place:hover {
  background-color: #DEE9FF;
}

.footer {
  margin: 0 auto;
  color: #F5E3BC;
  width: 980px;
}

.footer-links {
  font-size: 2em;
}

.footer-links-image {
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  background-color: white;
  height: 60px;
  width: 60px;
  padding: 5px;
  margin: 10px;
}

.footer-links img {
  display:block;
  margin:auto;
  max-width: 100%;
  height: auto;
}

.footer-signature {
  display: flex;
  justify-content: space-between;
}

.footer-signature a:any-link {
  text-decoration: none;
  color: white;
}

h1 {
  color: #F5E3BC;
}