.App {
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #282C34;
}

.header {
  display: flex;
  flex: 1;
  align-items: center;
  margin-bottom: 50px;
}

.header .hi {
  display: flex;
  flex: 1;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
}

.places {
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: space-evenly;
}

.place {
  padding: 15px;
  height: 30px;
  background-color: #BCCFF5;
  border-radius: 100%;
}

.place img {
  max-width: 100%;
  max-height: 100%;
}

.place:hover {
  background-color: #DEE9FF;
}

.footer {
  margin: 0 auto;
  color: #F5E3BC;
}

.footer-links {
  font-size: 2em;
}

.footer-links-image {
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  background-color: white;
  height: 60px;
  width: 60px;
  padding: 5px;
  margin: 10px;
}

.footer-links img {
  display:block;
  margin:auto;
  max-width: 100%;
  height: auto;
}

.footer-signature {
  display: flex;
  justify-content: space-between;
}

.footer-signature a:any-link {
  text-decoration: none;
  color: white;
}

h1 {
  color: #F5E3BC;
}

@media only screen and (min-width: 980px) {
  .App {
    padding: 0;
    width: 980px;
  }
  .place {
    height: 60px;
  }
}